<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Endereço</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<div padding>
    <button ion-button color="primary" block (click)="getLocation()">Usar minha localização</button>
  </div>

	<hr>
	
	<ion-item>
  	<ion-label stacked>CEP</ion-label>
  	<ion-input type="text" placeholder="_____-___" [textMask]="{mask: mask}" [(ngModel)]="cep" required></ion-input>
	</ion-item>

  <div padding *ngIf="cep_informado">
    <button ion-button color="primary" block (click)="getEndereco()">Buscar outro CEP</button>
  </div>

	<ion-item *ngIf="cep_informado">
  	<ion-label floating>Logradouro *</ion-label>
  	<ion-input type="text" [(ngModel)]="rua"></ion-input>
	</ion-item>

	<ion-item *ngIf="cep_informado">
  	<ion-label floating>Número</ion-label>
  	<ion-input type="number" [(ngModel)]="numero"></ion-input>
	</ion-item>

	<ion-item *ngIf="cep_informado">
  	<ion-label floating>Complemento *</ion-label>
  	<ion-input type="text" [(ngModel)]="complemento"></ion-input>
	</ion-item>

	<ion-item *ngIf="cep_informado">
  	<ion-label floating>Bairro *</ion-label>
  	<ion-input type="text" [(ngModel)]="bairro"></ion-input>
	</ion-item>

	<ion-item *ngIf="cep_informado">
  	<ion-label floating>Cidade *</ion-label>
  	<ion-input type="text" [(ngModel)]="cidade"></ion-input>
	</ion-item>

	<ion-item *ngIf="cep_informado">
  	<ion-label floating>Estado *</ion-label>
    <ion-select [(ngModel)]="estado" okText="Ok" cancelText="Cancelar">
      <ion-option *ngFor="let estado of estados">{{estado}}</ion-option>
    </ion-select>
  </ion-item>

	<div padding *ngIf="!cep_informado">
    <button ion-button color="primary" block (click)="getEndereco()">Buscar pelo CEP</button>
  </div>

  <div padding *ngIf="cep_informado">
    <button ion-button color="primary" block (click)="valida_endereco()">Prosseguir</button>
  </div>
  
</ion-content>
