<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<div padding *ngIf="carrinho">
    <button ion-button color="secondary" block (click)="goToCarrinho()">Ir para carrinho</button>
  </div>
  
	<ion-list *ngIf="rests_carregados">
	  <ion-item *ngFor="let rest of restaurantes_aux" (click)="goToRestaurante(rest)">
	    <ion-avatar item-start>
	      <img *ngIf="rest['foto']" src="{{rest['foto']}}">
	      <img *ngIf="!rest['foto']" src="{{rest['foto']}}">
	    </ion-avatar>
	    <h2>{{rest['nome']}}</h2>
	    <p item-right>{{rest['distancia']}}Km</p>
	  </ion-item>
	</ion-list>
</ion-content>
