<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{restaurante.nome}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<div padding *ngIf="carrinho">
    <button ion-button color="secondary" block (click)="goToCarrinho()">Ir para carrinho</button>
  </div>

	<ion-list>
	  <ion-item *ngFor="let p of produtos" (click)="addToCarrinho(p)">
	    <ion-avatar item-start>
	      <img *ngIf="p['foto']" src="{{p['foto']}}">
	      <img *ngIf="!p['foto']" src="http://deliverall-com-br.umbler.net/site/img/padrao.png">
	    </ion-avatar>
	    <h2>{{p['nome']}}</h2>
	    <div [innerHtml]="p['descricao']"></div>
	    <p item-right>R$ {{p['preco']}}</p>
	  </ion-item>
	</ion-list>
</ion-content>

