<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Carrinho de compras</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list *ngIf="carrinho_cheio">
		<ion-item-sliding *ngFor="let p of carrinho.produtos; let i = index">
		  <ion-item>
		    <h2>{{ p?.nome }}</h2>
		    <p>Valor und: R$ {{ p?.preco }}</p>		    
		    <p>Quantidade: {{ carrinho.qtd[i] }}</p>
		    <p item-right>Subtotal: R$ {{ p?.preco * carrinho.qtd[i] }}</p>
		  </ion-item>
		  <ion-item-options side="right">
		  	<button ion-button color="danger" (click)="revomeProduto(i)">
		    	<ion-icon name="trash"></ion-icon>
		    	Remover
		    </button>    
		  </ion-item-options>
		</ion-item-sliding>
	</ion-list>

	<h3 padding *ngIf="carrinho_cheio">Total: R$ {{ carrinho?.total }}</h3>

	<h4 padding *ngIf="!carrinho_cheio">Você ainda não possui itens no carrinho :/</h4>

  <div padding *ngIf="carrinho_cheio">
    <button ion-button color="secondary" block (click)="goToPagamento()">Selecionar forma de pagamento</button>
  </div>
</ion-content>
