<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Carrinho de compras</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list *ngIf="carrinho_cheio">
	  <ion-item *ngFor="let p of carrinho['produtos']">
	    <h2>{{p['nome']}}</h2>
	    <p>R$ {{p['preco']}}</p>
	    <button ion-button clear item-right color="danger" (click)="removeProduto(p)">
      	<ion-icon name="trash"></ion-icon>
      </button>
	  </ion-item>
	</ion-list>

	<h3 padding *ngIf="carrinho_cheio">Total: R$ {{carrinho.total}}</h3>

  <div padding *ngIf="carrinho_cheio">
    <button ion-button color="secondary" block (click)="goToPagamento()">Selecionar forma de pagamento</button>
  </div>
</ion-content>
